
{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}


<section class="about_section layout_padding">
    <div class="container  ">
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static '/images/about-img.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Hospital</span>
              </h2>
            </div>
            <p ><i>
                Ava Hospital stands as a beacon of excellence in healthcare, offering a wide array of departments and facilities staffed by highly skilled professionals. Our Cardiology Department is renowned for its state-of-the-art diagnostic and treatment options for heart diseases, led by a team of experienced cardiologists. In the Orthopedics Department, our surgeons perform advanced procedures, from joint replacements to minimally invasive surgeries, ensuring quick recovery and optimal outcomes.

               The Neurology Department at Ava Hospital is equipped with cutting-edge technology to diagnose and treat neurological disorders, supported by a dedicated team of neurologists and neurosurgeons. Our Oncology Department provides comprehensive cancer care, including chemotherapy, radiation therapy, and surgical interventions, all personalized to meet each patient's needs.
                
                <br>Pediatrics at Ava Hospital offers specialized care for children, with pediatricians and neonatologists ensuring the health and well-being of our youngest patients. The Obstetrics and Gynecology Department provides comprehensive reproductive health services, from prenatal care to advanced gynecological surgeries.
                
             Our Emergency Department operates 24/7, staffed by emergency medicine specialists ready to handle any medical crisis with speed and expertise. The Intensive Care Unit (ICU) is equipped with the latest life-support systems, managed by critical care specialists who provide round-the-clock monitoring and care for critically ill patients.
                
                Ava Hospital’s Radiology Department boasts advanced imaging technologies such as MRI, CT scans, and ultrasound, allowing for precise diagnostics and treatment planning. The Gastroenterology Department offers endoscopic procedures and treatments for various digestive disorders, performed by skilled gastroenterologists.
                
                We also have a dedicated Urology Department that addresses urinary tract issues with innovative treatments and surgeries. Our Nephrology Department provides comprehensive care for kidney diseases, including dialysis services and kidney transplant coordination.<br>
                
                In the Rehabilitation Department, our physiotherapists and occupational therapists work tirelessly to help patients regain their independence and improve their quality of life. The Dermatology Department treats a wide range of skin conditions with the latest treatments and technologies.
                
                Ava Hospital is committed to preventive care and offers wellness programs, health screenings, and patient education sessions to promote a healthier community. Our Pharmacy ensures patients have access to necessary medications, while the Nutrition Department provides dietary counseling and personalized nutrition plans.<br>
                
                The hospital’s facilities include private rooms, a modern surgical suite, and a comfortable patient lounge. With an unwavering dedication to quality care, Ava Hospital continually invests in medical research and education, ensuring our doctors and staff stay at the forefront of medical advancements.
                
                Our commitment to compassionate care, combined with our comprehensive range of services and cutting-edge facilities, makes Ava Hospital a trusted name in healthcare, dedicated to improving the lives of our patients.
                
                
                
                
            </i> 
                
            </p>
           
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
