{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}


<section id="testimonials" class="testimonials">
    <div class="container">
        <h2>What Our Patients Say</h2>
        <div class="testimonial-items">
            <div class="testimonial-item">
                <p>"Excellent care and friendly staff!"</p>
                <h4>Don Joseph</h4>
            </div>
            <div class="testimonial-item">
                <p>"Highly recommend this hospital!"</p>
                <h4>Ani Baby</h4>
            </div>
            <div class="testimonial-item">
                <p>"Professional and compassionate service."</p>
                <h4>Ryan Pinto</h4>
            </div>
            <div class="testimonial-item">
                <p>"Professional and Gud service."</p>
                <h4>Ajesh M</h4>
            </div>
            <div class="testimonial-item">
                <p>" Gud service."</p>
                <h4>Abin M</h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}
